# Copyright (c) 2010 Zope Foundation and Contributors.
#
# This is the specification file for the transitional zope.app.* packages

[zopeapp]
included =
  zc.sourcefactory
  zope.app.applicationcontrol
  zope.app.appsetup
  zope.app.debug
  zope.app.http
  zope.app.publication
  zope.app.wsgi
  zope.testbrowser
  WebTest
  WebOb

# These packages will be removed in the next version
deprecating =

packages =
  ${zopeapp:included}
  ${zopeapp:deprecating}


[buildout]
extends = zopeapp-versions.cfg
versions = versions
